/* common */
*{
  box-sizing: border-box;
}
html,body {
  font-size:16px;
  line-height: 1.2em;
  color:#555;
  font-family:'Open Sans', serif;
}
h1{
  font-size: 200%;
  font-weight: bold;
}
h2{
  font-size: 150%;
  font-weight:bold;
}

.title {
  font-size: 250%;
  font-weight: bold;
}

.title-half {
  font-size: 175%;
  font-weight: normal;
}

.title-fourth {
    font-size: 135%;
    font-weight: normal;
}

.container {
  width:100%;
  height:100%;
}

.main-content{
max-width: 70%;
margin: 0 15%;
min-height:100vh;
padding: 30px;
background:#fff;
border-right: 1px solid #eaeaea;
border-left: 1px solid #eaeaea;
position:relative;
top:400px;
}
/*******************Blog Card Css************************/

.blog-card{
  border-bottom :1px solid #eaeaea;
  margin-bottom: 20px;
  padding: 10px 0px;
  padding-left: 30px;
  color:inherit;
}

.blog-card  h2 {
  margin-bottom:10px;
  cursor:pointer;
}


.blog-meta {
  font-size: 100%;
  margin-top: 15px;
}

.blog-date {
  color: #888;
}

.card-text {
  font-size:120%;
}
.blog-tags {
  font-style: italic;
  float:right;
}

.tag-link:hover {
  color:#555;
  font-weight:bold;
}

/*******************Blog Css************************/

.blog-heading {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #eaeaea;
}

.blog-content {
  font-size:120%;
  line-height: 1.5em;
}

.blog-content p{
  margin-top:18px;
  margin-bottom:30px;
}
.blog-content h2{
  font-size: 150%;
  margin-top:18px;
  margin-bottom:30px;
}
/******************************Side Pan Styling ******************/
/*
.side-pan{
width: 280px;
height:100vh;
position:absolute;
left:0px;
top:2px;
}
.profile {
  margin-top: 120px;
  margin-left: 83px;
}

.profile-name {
  margin-top: 27px;
  font-size: 150%;
  font-weight: bold;
}

.menu {
  width: 100%;
  margin-top:30px;
}

.menu-item {
  display:block;
  margin:auto;
  padding:10px;
  width:100%;
  text-align:center;
  height:40px;
  font-size: 120%;
  font-weight: bold;
  border-bottom : 1px solid #eaeaea;
}

.menu-item:hover {
  background-color: #4a90e2;
}
*/
/******** Header ***************************/

.header {
  height: 400px;
  background: #4a90e2;
  color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top:0px;
  width:100%;
  z-index:999;
  position:absolute;
  top:0px;
}
.header-fixed {
  height:80px;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  position:fixed;
}
.profile {
display: flex;
flex-direction: column;
align-items: center;
transition: all 0.4s ease;
}
.profile-fixed {
  flex-direction: row;
  align-items: flex-start;
  font-size: 70%;
}

.avatar {
  background-image: url('../images/profile.jpg');
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
.avatar-fixed {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  margin-right:20px;
}

.profile-text {
  display:table;
  margin-top: 20px;
}
.nav {
  display:flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
  transition: all 0.4s ease;
}

.nav-fixed {
  margin-top: 0px;
  margin-right: 20px;
  font-size: 150%;
}

.hidden {
  display: none;
}

.nav-item {
  display: inline-block;
  margin-left: 10px;
  font-size: 125%;
}

/******** Loader ***************************/
.loader{
  position: fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background: rgba(125,125,125,0.4);
}

.loader-image{
  margin: auto;
  margin-top: 400px;
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #4a90e2;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.hide-loader{
  display:none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
