/* common */
*{
  box-sizing: border-box;
}
html,body {
  font-size:16px;
  line-height: 1.2em;
  color:#555;
  font-family:'Open Sans', serif;
}
h1{
  font-size: 200%;
  font-weight: bold;
}
h2{
  font-size: 150%;
  font-weight:bold;
}

.title {
  font-size: 250%;
  font-weight: bold;
}

.title-half {
  font-size: 175%;
  font-weight: normal;
}

.title-fourth {
    font-size: 135%;
    font-weight: normal;
}

.container {
  width:100%;
  height:100%;
}

.main-content{
min-height:100vh;
background:#fff;
position:relative;
top:600px;
}

.inner-container {
  max-width: 70%;
  margin: 0 15%;
  padding: 30px;
}

/*******************Blog Card Css************************/

.blog-card{
  border-bottom :1px solid #eaeaea;
  margin-bottom: 20px;
  padding: 10px 0px;
  padding-left: 30px;
  color:inherit;
}

.blog-card  h2 {
  margin-bottom:10px;
  cursor:pointer;
}


.blog-meta {
  font-size: 100%;
  margin-top: 15px;
}

.blog-date {
  color: #888;
}

.card-text {
  font-size:120%;
}
.blog-tags {
  font-style: italic;
  float:right;
}

.tag-link:hover {
  color:#555;
  font-weight:bold;
}

/*******************Blog Css************************/

.blog-heading {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #eaeaea;
}

.blog-content {
  font-size:120%;
  line-height: 1.5em;
}

.blog-content p{
  margin-top:18px;
  margin-bottom:30px;
}
.blog-content h2{
  font-size: 150%;
  margin-top:18px;
  margin-bottom:30px;
}
/******** Header ***************************/

.header {
  height: 600px;
  background: #4a90e2;
  color: white;
  display:block;
  position:fixed;
  width:100%;
  top:0px;
  height: 600px;
  z-index: 9;
}
.header-fixed {
  background: #4a90e2;
  z-index:999;
  height:80px;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  position:fixed;
}
.profile {
position:absolute;
top: 30%;
width: 100%;
}

.profile-fixed {
  flex-direction: row;
  align-items: flex-start;
  font-size: 70%;
}

.avatar {
  background-image: url('../images/profile.jpg');
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin:0 auto;
}
.avatar-fixed {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  margin-right:20px;
}

.profile-text {
  margin-top: 20px;
  text-align: center;

}
.nav {
  display:block;
  margin-top: 20px;
  text-align: center;
  position: absolute;
  top: 62%;
  width: 100%;
}


.nav-fixed {
  margin-top: 0px;
  margin-right: 20px;
  font-size: 150%;
}

.hidden {
  display: none;
}

.nav-item {
  display: inline-block;
  margin-left: 10px;
  font-size: 125%;
}

/******** Loader ***************************/
.loader{
  position: fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background: rgba(125,125,125,0.4);
}

.loader-image{
  margin: auto;
  margin-top: 400px;
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #4a90e2;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.hide-loader{
  display:none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*********Profile Page *******/
.project {
  display:flex;
  flex-direction: row;
  height: 500px;
}
.projects-heading {
  width: 100%;
  background-color: black;
  padding-top: 150px;
  height: 300px;
  text-align:center;
  color:white;
}
.project-image {
  width: 60%;
}
.project-content {
  width:40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-content  > div {
  margin-top : 30px;
}

.tech-section {
  height: auto;
  display: flex;
  flex-direction: row;
}

.tech-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.tech-component {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 0 auto;
}

.tech-component > h2 {
  text-align: center;
  background-color: #4a90e2;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tech {
  display: flex;
  flex-direction: column;
  height: 133px;
  width: 120px;
  padding-right:30px;
}

.tech > div {
  text-align:center;
  padding-top: 2px;
  padding-bottom:2px;
}
